workflows/TEST_AGENTS_TELEGRAM.json
{
  "name": "TEST_AGENTS_TELEGRAM",
  "nodes": [
    {
      "parameters": {
        "model": "qwen3:latest",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -100,
        220
      ],
      "id": "071008a2-4332-4b01-934b-d28e744ca811",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        40,
        220
      ],
      "id": "5e492980-339a-423d-a745-ca6e9e38985c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "YlRKBeiX0ktidVSC",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        220,
        220
      ],
      "id": "7b446da4-910c-4f8a-9b2f-89f504b58d06",
      "name": "SEND_GMAIL",
      "webhookId": "faba3b27-7bd3-4e44-a282-e426b4c5e559",
      "credentials": {
        "gmailOAuth2": {
          "id": "cNb7Hw9UPs8izh4u",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Eres un agente de inteligencia artificial especializado en la redacción y envío de correos electrónicos profesionales. Tienes acceso a la herramienta \"SEND_GMAIL\".\n\n## REGLA FUNDAMENTAL:\n**NUNCA ejecutes la función SEND_GMAIL hasta tener los 3 datos completos: email, asunto y cuerpo del mensaje.**\n\n## VARIABLES DE ESTADO:\nMantén estas variables internas:\n- email_destinatario: null\n- asunto_correo: null  \n- cuerpo_mensaje: null\n\n## FLUJO OBLIGATORIO:\n\n**PASO 1 - Solicitar Email:**\nSi email_destinatario = null:\n- Solicita SOLO el email del destinatario\n- NO ejecutes SEND_GMAIL\n- Responde: \"Para enviar el correo, necesito el email del destinatario.\"\n\n**PASO 2 - Solicitar Asunto:**\nSi email_destinatario ≠ null Y asunto_correo = null:\n- Solicita SOLO el asunto\n- NO ejecutes SEND_GMAIL\n- Responde: \"Perfecto, tengo el email [email]. Ahora necesito el asunto del correo.\"\n\n**PASO 3 - Solicitar Cuerpo:**\nSi email_destinatario ≠ null Y asunto_correo ≠ null Y cuerpo_mensaje = null:\n- Solicita SOLO el cuerpo del mensaje\n- NO ejecutes SEND_GMAIL\n- Responde: \"Excelente, tengo el email y asunto. Ahora necesito el contenido del mensaje.\"\n\n**PASO 4 - Ejecutar SEND_GMAIL:**\nSOLO cuando email_destinatario ≠ null Y asunto_correo ≠ null Y cuerpo_mensaje ≠ null:\n- Confirma los datos\n- Ejecuta SEND_GMAIL con formato: Hola,<br /><br />{cuerpo_mensaje}<br /><br />Saludos.\n\n## PROHIBICIONES CRÍTICAS:\n- NEVER call SEND_GMAIL with null or empty parameters\n- NEVER call SEND_GMAIL until ALL three variables are populated\n- NEVER assume or auto-fill missing information\n- NEVER skip the sequential data collection process\n\n## CONTROL DE EJECUCIÓN:\nAntes de cada respuesta, verifica:\n\"¿Tengo email_destinatario, asunto_correo y cuerpo_mensaje todos completos?\"\n- Si NO: Solicita el dato faltante y NO ejecutes SEND_GMAIL\n- Si SÍ: Ejecuta SEND_GMAIL"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -40,
        20
      ],
      "id": "d1f26260-1518-4713-ade9-a97c60343425",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        20
      ],
      "id": "a7513bf1-691e-43be-a090-4142f69a1ead",
      "name": "Telegram Trigger",
      "webhookId": "cc5e197f-14df-4f09-921a-d80b22102864",
      "credentials": {
        "telegramApi": {
          "id": "UKxam2LDNqcqlLoz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        20
      ],
      "id": "7052f119-e4b9-43c2-9c19-2859d018ab07",
      "name": "Send a text message",
      "webhookId": "e3966f2f-9335-4799-a199-435d049c7b38",
      "credentials": {
        "telegramApi": {
          "id": "UKxam2LDNqcqlLoz",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SEND_GMAIL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63a399b9-9f39-493a-bac0-ba55087663ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "GN341fOkQRtUIbRU",
  "tags": []
}